<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div id=home >
    <h1> Welcome to FitGoal </h1>
    <%= link_to "Sign Up to Be a User", new_user_path %><br>
    <%= link_to "Log In with Strava", strava_login_path %>
  </div>

  </body>
</html>
