<h2>5-K Training</h2>
  <div class="five_k">
    <%= link_to "beginner", user_plans_path %>
  </div>
<h2>8-K Training</h2>
<h2>10-K Training</h2>
<h2>Half Marathon Training</h2>
<h2>Marathon Training</h2>
