<h2>Pick a Plan</h2>
<%= form_tag user_plans_path, method: 'post' do %>
  <%= collection_select(:plan, :id, Plan.all, :id, :name, prompt: true) %>
  <%= date_field_tag(:start_date) %>
  <%= submit_tag "Submit" %>
<% end %>
